@model ProjetoShow.Models.Evento

<h5 class="pt-3" style = "color: #FF0000;">ERRO</h5>
<h6 style = "color: #FF0000;">Para cadastrar um evento, é necessário ter pelo menos uma casa de show cadastrada!</h6>